<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Dashboard</title>
<th:block th:include="header :: header"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
<link
	href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
	rel="stylesheet" />
<script
	src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<body>
	<nav th:replace="top-navigation :: nav-bar"></nav>
	<div class="content-body container">
		<h1
			th:text="'Welcome ' + ${session.userSessionDetails.firstName} + '!'">Welcome</h1>
		<div class="device-registration-form" th:if="${noDevice}">
			<h4>Please enter your Device's Serial Number to get started.</h4>
			<div th:if="${registraionStatus}" class="alert alert-danger">
				<p
					th:if="${T(in.foxlogic.gsmswitch.util.StringConstants).DEVICE_ALREADY_REGISTERED} == ${registraionStatus}">The
					Device is already registered to a different user. Please contact us
					with your purchase proof.</p>
				<p
					th:if="${T(in.foxlogic.gsmswitch.util.StringConstants).INVALID_SERIAL_NO} == ${registraionStatus}">The
					serial no is invalid. Please try again.</p>
			</div>
			<form class="form-inline" action="/device-registration" method="post">
				<label style="margin-right: 10px" for="deviceSerialNo">Serial
					No:</label>
				<div class="input-group">
					<input class="form-control" id="deviceSerialNo"
						name="deviceSerialNo" type="number"
						placeholder="Enter Device Serial Number." />
					<div class="input-group-btn">
						<input type="submit" value="Register" class="btn btn-default" />
					</div>
				</div>
			</form>
		</div>
		<div th:if="!${noDevice}" class="container switch-container">
			<div class="row">
				<div class="col-md-3 left-panel">
					<div class="panel panel-default">
						<div class="panel-heading">Device Details</div>
						<div class="panel-body">
							<p
								th:text="'Device Name: '+ ${session.deviceSessionDetails.deviceName}"></p>
							<p
								th:text="'Model Number: '+ ${session.deviceSessionDetails.modelNumber}"></p>
							<p
								th:text="'Serial Number: '+ ${session.deviceSessionDetails.serialNumber}"></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 center-panel">
					<div class="panel panel-default">
						<div class="panel-heading">Device Status</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6 center-panel-left">
									<p id="network-status"
										th:if="${session.deviceSessionDetails.notReachable}">Network:
										Not Reachable</p>
									<p id="network-status"
										th:if="!${session.deviceSessionDetails.notReachable}">Network:
										Connected</p>
									<p id="last-ping"
										th:if="${pollServerResponse.lastConnectedTime}!=null"
										th:text="'Last Ping: '+ ${pollServerResponse.lastConnectedTime}">Last
										Ping: 11:06 PM</p>
										<p id="last-ping"
										th:if="${pollServerResponse.lastConnectedTime}==null">Last
										Ping: Never</p>
									<p id="relay-status"
										th:text="'Status: '+ ${pollServerResponse.deviceRelay}">On</p>
								</div>
								<div class="col-xs-6 center-panel-right">
									<input th:if="${session.deviceSessionDetails.relay}"
										id="power-btn" type="checkbox" checked="checked"
										data-toggle="toggle" /> <input
										th:if="!${session.deviceSessionDetails.relay}" id="power-btn"
										type="checkbox" data-toggle="toggle" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3  right-panel">
					<div class="panel panel-default">
						<div class="panel-heading">Sensor Details</div>
						<div class="panel-body">
							<div id="sensor-data-div">
								<p id="operating-frequency-p">10000000021321: KTPM</p>
								<p id="operating-current-p">21321312: YO</p>
								<p id="ac-voltage-p">917689165: SOME</p>
								<p id="dc-voltage-p">917689165: SOME</p>
								<p id="igbt-temperature-p">917689165: SOME</p>
							</div>
							<div id="empty-history-placeholder">
								<p>No Data available.</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div></div>

			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading history-panel-heading">
						<h4 class="panel-title">
							<a href="#historyPanel">Status History</a> <span
								class="history-collapse-btn glyphicon glyphicon-plus"></span>
						</h4>

					</div>
					<div class="panel-body history-panel-body">
						<div
							th:if="${#lists.isEmpty(pollServerResponse.statusHistories)}">
							<p>No History Available.</p>
						</div>
						<div
							th:if="${not #lists.isEmpty(pollServerResponse.statusHistories)}"
							class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Date</th>
										<th>Time</th>
										<th>Operating Frequency</th>
										<th>Operating Current</th>
										<th>AC Voltage</th>
										<th>DC Voltage</th>
										<th>IGBT Temperature</th>
									</tr>
								</thead>
								<tbody>
									<tr
										th:each="item : ${pollServerResponse.statusHistories}">
										<td th:text="${item.date}"></td>
										<td th:text="${item.time}"></td>
										<td th:text="${item.operatingFrequency}">On</td>
										<td th:text="${item.operatingCurrent}">1.2 A</td>
										<td th:text="${item.acVoltage}">240 V</td>
										<td th:text="${item.dcVoltage}">50 V</td>
										<td th:text="${item.igbtTemperature}">50 Hz</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<span id="relay-color-tag" style="display: none"
				th:text="${relayColor}"></span> <span id="relay-status-tag"
				style="display: none"
				th:text="${session.deviceSessionDetails.relay}"></span>
		</div>
	</div>

</body>
</html>