@charset "ISO-8859-1";

div.switch-container {
	top: 50%;
	transform: translateY(50%);
	margin-bottom: 100px;
	min-width: 150px;
	box-shadow: 0px 0px 6px #cebbbb;
	padding: 24px 24px 24px 24px;
	border-radius: 5px;
}

div.switch-container ul{
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

div.switch-row {
	padding: 10px;
}

div.device-registration-form {
	margin-top: 30px;
}

.power-btn-icon {
	font-size: -webkit-xxx-large;
	padding: 10px;
}

#deviceSerialNo {
	min-width: 230px;
}

.left-panel{
	text-align: left;
}

.center-panel{
	text-align: center;
}
.right-panel{
	text-align: right;
}